{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <title>Book list</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://npmcdn.com/bootstrap@4.0.0-alpha.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <script type="text/javascript" href="https://unpkg.com/reactstrap/dist/reactstrap.min.js"></script>

    </head>
    <body>
        <div id="container"></div>
        {% render_bundle 'main' %}
    </body>
</html>